.intro{
	text-align:center;
	font-size:24px;
}

.form-wrap{
	padding:10px 30px;
	background:#e1e1e1;
	width:300px;
	margin:30px auto;
}

.date-form{
	margin:30px;
}

input{
	padding:15px;
	width:200px;
	font-size:18px;
	margin:10px 0;
}

input.submit{
	width:100px;
	margin:20px 0 0 0;
}

.message{
	text-align:center;
	font-size:24px;
}